General Style*/
body{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #f0f0f0;
	overflow-x: hidden;  
}

/*.container{
	width:75%;
}*/

/*General Styles Ends*/

/*Top Navbar Styles*/

#top{
	background: #555555;
	padding: 10px 0;

}

#top .offer{
	color: #fff; 
}

#top .offer .btn{
	text-transform: uppercase;
}

@media (max-width: 991px){

	#top .offer{
		margin-bottom: 10px;
	}

}

@media (max-width: 991px ){
	
	#top{
		font-size: 12px;
		text-align: center;
	}

	#top a{
		color: #fff;
	}

	#top ul.menu{
		padding-top: 5px;
		margin: 0;
		font-size: 12px;
		text-align: right;
		list-style: none;
	}


}

@media (max-width: 991px){

	#top ul.menu{
		text-align: center;
	}
}

#top ul.menu > li{

	display: inline-block;

}

#top ul.menu > li a{

	color: #eeeeee;

}

#navigation ul li{
	margin-right: 5px;
}

#navigation ul li.active{
	background: #e9e9e9;
	/*border: 1px solid #d7d7d7;*/
}

#navigation ul li:hover{
	background: #e9e9e9;
	/*border: 1px solid #d7d7d7;*/
}
/*Navigation Part Ends*/

/*Slider Part Starts*/

#slider{
	width: 75%;
	margin: 0 auto;
	margin-bottom: 20px!important;
}

/*Slider Part Ends*/

/*Advantages Starts*/

#advantages{
	text-align: center;	
}

#advantages .box{
	height: 150px;
}

#advantages .box .icon{
	position: absolute;
	font-size: 120px;
	top: -10px;
	left: 0;
	color: #eeeeee;
	transition: all 0.2s ease-out;
	z-index: 1;
	box-sizing: border-box;
}

#advantages .box h3{
	font-size: 20px;
	position: relative;
	margin: 0 0 20px;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 2;
}

#advantages .box h3 a:hover{
	text-decoration: none;
}

#advantages .box p{
	position: relative;
	color: #555555;
	z-index: 2;	
}

.box{
	background: #fff;
	margin: 0 0 30px;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
/*Advantages Ends


/*Contents Style Starts*/

#content{
	padding: 50px 100px;
	background: #e7e7e7;
}

.single{
	width: 290px;
	height: 400px;
}

#product-container{
	/*height: 370px;*/
}

.text>h3{
	height: 20px;
	overflow-y: hidden;
}

.text>p{
	height: 10px;
}

@media(max-width: 768px){
	.single{
		margin:0 auto;
	}
}

#content .product{
	background: #fff;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	margin-bottom: 30px;
}

#content .product .text{
	background: #d7d7d7;
}

#content .product .text p.price{
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

#content .product .text .buttons{
	clear:both;
}

#content .product .text h3{
	font-size: 16px;
	text-align: center;
}

#content .product .text h3 a{
	color: rgb(85, 85, 85);
}

#content .product .text{
	padding: 10px 10px 0px;
}

#content.product .text .buttons .btn{
	margin-bottom: 10px;
}

#content .text a:hover{
	text-decoration: none;
}

#p-container{
	box-sizing: border-box!important;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)!important;
}

#product-container{
	border: 1px solid black;
	box-sizing: border-box;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/*Contents Style Ends*/


/*Footer Starts*/

#footer{
	background: #e0e0e0;
	padding: 20px 0;
}

#footer ul{
	list-style: none;
	padding-left: 0;
}

#footer ul a{
	color: #999999;
	padding: 20px 0;
}

#footer ul a:hover{
	text-decoration:none;
}

#footer .social{
	text-align: left;
}

#footer .social a{
	margin: 0 10px 0 0;
	color: #fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	line-height: 15px;
	text-align: center;
	transition: all 0.2s ease-out;
	vertical-align: bottom;
	background-color: #555555;
}
#footer .social a i{
	margin-top: 5px;
}

/*Footer Ends*/

/*Copyright Section*/

#copyright{
	background: #333;
	color: #ccc;
	padding: 20px 0;
	font-size: 16px;
}

#copyright p{
	margin: 0;
}

/*Copyright Section*/